.category_main {
	text-align: center;
	font-family: $fontAdmin1;
	width: 90%;
    margin-left: 5%;
}

.category_title {
	margin-top: 3%;
	margin-bottom: 3%;
	font-size: 30px;
    letter-spacing: 10px;
}

.post_category_info {
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    @media screen and (max-width: $break-large) {
        flex-direction: column;
    }
}

.category_table_head {
	border-bottom: 1px solid rgb(229,229,229);
    margin-bottom: 2%;
}

.category_block_left {
	width: 30%;
	height: 150px;
    background: rgb(255, 255, 255);
    border: 1px solid rgb(229, 229, 229);
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    @include box_shadow(1px, 1px, 5px, 1px, rgba(0,0,0,0.5));
    @media screen and (max-width: $break-large) {
        width: 100%;
        margin-bottom: 2%;    
    }
}
.category_block_right {
	width: 30%;
    background: rgb(255,255,255);
    border: 1px solid rgb(229, 229, 229);
    @include box_shadow(1px, 1px, 5px, 1px, rgba(0,0,0,0.5));
    height: 100%;
    @media screen and (max-width: $break-large) {
        width: 100%;
        margin-bottom: 2%;    
    }
}

