.skill_section {
	width: 100%;
	position: fixed;
	z-index: 1;
	background-color: grey;
}

.skill_video {
	width: 100%;
}

.container {
	font: 12px normal Arial;
  	font-family: "Raleway",Arial,Helvetica,sans-serif;
	color:#fff;
	width: 100%;
	height: 100vh;
	position: absolute;
	z-index: 90;
  	padding:5%;
	margin: 0 auto; 
	overflow: hidden;
	background-color: rgba(0,0,0,0.7);
    @media screen and (min-width: $break-small) and (max-width: $break-large) {
		height: auto;
		width: 99%;
	}
	@media screen and (min-width: $break-small-2) and (max-width: $break-large-2) {
		height: auto;
		width: 99%;
	}
}

.skills_main_title {
	font-size: 40px;
	font-family: $fontMonoton;
	text-align: center;
	color: rgba(255, 255, 255, 0);
    text-shadow: 0em 0em 3em $colorGreen4,
                 0em 0em 2em $colorGreen4,
                 1px 1px 5px $colorGreen4,
                 0px 0px 15px $colorGreen4,
                 1px 0px 0px white,
                -1px 0px 2px rgba(0, 0, 0, .5);
    @media screen and (min-width: $break-small) and (max-width: $break-large) {
		margin-top: 10%;
		margin-bottom: 5%;
	}
	@media screen and (min-width: $break-small-2) and (max-width: $break-large-2) {
		margin-top: 10%;
		margin-bottom: 5%;
	}
}

.skill_title {
	opacity:1;
	animation:title 5s ease-out;
	font-size: 2.7em;
  	font-weight: normal;
	padding: 10px 0 16px 0;
  	margin: 0 0 30px;
	text-align:center;
  	background:#000;
	border-radius:2px; 
}
.skill_title.programation {
	color:#2187e7;
  	text-shadow: 1px 1px 5px #000, 0 0 10px #2187e7, 0 0 20px #2187e7;
	border: 1px solid #2187e7; 
  	box-shadow: 0px 0px 50px -8px #2187e7;
}
.skill_title.plateform {
  border: 1px solid #9ACD32;  
  box-shadow: 0px 0px 50px -8px #9ACD32;
  color: #9ACD32;
  text-shadow: 1px 1px 5px #000, 0 0 10px #9ACD32, 0 0 20px #9ACD32;
}

.skill_title.software {
  border: 1px solid #FF4500;  
  box-shadow: 0px 0px 50px -8px #FF4500;
  color: #FF4500;
  text-shadow: 1px 1px 5px #000, 0 0 10px #FF4500, 0 0 20px #FF4500;
}
 


.col {
	width: 23%;
  	margin: 0 5%;
  	position: relative;
  	float: left;
  	font-size: 12px;
  	line-height: 2em;
  	padding: 5% 0;
  	@media screen and (min-width: $break-small-2) and (max-width: $break-large-2) {
		width: 95%;
	}
} 
/*.col { width:101%; }*/
.skill { 
	list-style:none; 
	padding-top:30px;
}

.skill li { 
	margin-bottom:70px; 
	background:#030303; 
	height:6px; 
	border-radius:3px; 
	border-left:1px solid #111; 
	border-top:1px solid #111; 
	border-right:1px solid #333; 
	border-bottom:1px solid #333;  
}

.skill li em { 
	position:relative; 
  font-style: normal;
  font-size: 14px;
  text-align: center;
  color:#dedede;
	top:-28px;
}

.blueline { 
	height: 3px; 
	margin: 2px 0; 
	background: #2187e7; 
	position: absolute;
	box-shadow: 0px 0px 10px 1px rgba(0,198,255,0.6);
}
.greenline { 
	height: 3px; 
	margin: 2px 0; 
	background: #9ACD32; 
	position: absolute;
	box-shadow: 0px 0px 10px 1px rgba(173, 255, 47,0.4);
}
.redline { 
	height: 3px; 
	margin: 2px 0; 
	background: #FF4500; 
	position: absolute;
	box-shadow: 0px 0px 10px 1px rgba(255, 69, 0,0.4);
}



/*programation*/
.load_bar {
	animation: load 2s ease-out;
}

@keyframes title      { 0% { opacity:0; } 100% { opacity:1; }  }

/*programacion*/
@keyframes load        { 0% { width:0px; } 100% { width:90%; }  }

/*media queries*/
@media (max-width: 1200px){
  h2 {font-size:2.2em;}
}
@media (max-width: 980px){
  h2 {font-size:1.8em;}
}
@media (max-width: 767px){
  h2 {font-size:1.4em;}
}
@media (max-width: 580px){
  h2 {font-size:1.1em; padding:10px 0;}
}
@media (max-width: 480px){ 
  h2 {font-size:2.2em; padding: 10px 0 15px 0;}
  .col {width: 90%;}
}