.blog_main {
	width: 100%;
	background-image: url(../../../img/backgrnd2.jpg);
	background-attachment: fixed;
	background-size: cover;
}

.blog_section_head {
	color: white;
    width: 50%;
    margin-left: 25%;
    padding-top: 5%;
    padding-bottom: 2%;
    border-bottom: 4px double $colorRed3;
    background-color: transparent;
    text-align: center;
    margin-bottom: 1%;
    @media screen and (max-width: $break-large) {
    	width: 80%;
    	margin-left: 10%;
    }
}

.section_head_title {
	font-family: $fontRaleway;
	font-size: 40px;
	letter-spacing: 25px;
}
.section_head_sub {
	font-family: $fontContrail;
	font-size: 20px;
	letter-spacing: 10px;
	@media screen and (max-width: $break-large) {
		letter-spacing: 5px;
		font-size: 15px;
	}
}


// **********************************
// **********************************


.blog_section_articles {
	width: 90%;
    margin-left: 5%;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    @media screen and (max-width: $break-large) {
    	width: 90%;
    	margin-left: 5%;
    }
    @media screen and (max-width: $break-large-2) {
    	width: 90%;
    	margin-left: 5%;
    }
    @media screen and (max-width: $break-large-3) {
    	width: 90%;
    	margin-left: 5%;
    }
}

.articles_blog {
	width: 60%;
	padding: 1%;
	background: white;
	@media screen and (max-width: $break-large) {
		width: 100%;
		margin-top: 25%;

	}
	@media screen and (max-width: $break-large-2) {
		width: 100%;
		margin-top: 25%;

	}
	@media screen and (max-width: $break-large-3) {
		width: 100%;
		margin-top: 25%;

	}
}

.articles_blog_title {
	font-size: 25px;
	font-family: $fontContrail;
	text-align: center;

}



.blog_post_container {
    position: relative;
    width: 100%;
    margin-top: 10%;
    padding-bottom: 5%;
    padding-top: 5%;
    border-top: 1px solid grey;
}
.blog_post_overlay {

}

.blog_post_thumb {
	width: 50%;
	float: left;
	height: auto;
}
.blog_post_image {
	width: 100%;
}

.blog_post_text {
    width: 100%;
    height: 160px;
    overflow: hidden;
    float: right;
    padding: 5%;
}

.blog_post_title {
	color: rgb(62,64,62);
	font-size: 25px;
	font-family: $fontContrail;
}

.blog_post_content {
	
}

.blog_post_link {
	height: 100%;
	font-size: 30px;
	text-align: center;
	width: 100%;
	transition: 0.5s ease;
	font-family: $fontContrail;
	background-color: rgba(255,255,255,0.6);
}


// **************************
// **************************

.blog_home_btn {
	margin-top: 10px;
    margin-bottom: 10px;
    background-color: transparent;
    text-align: center;
    font-family: $fontContrail;
    font-size: 40px;
    color: $colorBlue2;
    border-radius: 5px;
    border: 2px solid deeppink;
    box-shadow: 0em 0em 1em $colorBlue1,
                 0em 0em 1em $colorBlue1,
                 1px 1px 5px $colorBlue1,
                 0px 0px 15px $colorBlue1,
                 1px 0px 0px white,
                -1px 0px 2px rgba(0, 0, 0, .5);
}
.blog_home_btn a {
	color: white;
}

.exit_blog_btn {
	width: 100;
	text-align: center;
}

.blog_nav_title {
	margin-top: 10%;
	margin-bottom: 10%;
	font-family: $fontContrail;
	color: $colorWhite3;
}